:root {
  /* colors */
  --red-900: #70003e;
  --red-600: #a6003c;
  --blue-700: #0c2392;
  --green-700: #187435;
  --beige-700: #968a7b;
  --beige-600: #a69a88;
  --beige-500: #b7a999;
  --beige-300: #ddd2c2;
  --beige-200: #efe8de;
  --beige-100: #fbf8f3;
  --beige-50: #fefefd;
  --greyscale-900: #12070b;
  --greyscale-500: #616161;
  --greyscale-400: #7c7c7c;
  --greyscale-300: #bdbdbd;
  --greyscale-100: #f4f4f4;

  /* colors | alias */

  /* backgound colors */
  --bg-main: var(--beige-100);
  --bg-header: var(--beige-200);
  --bg-footer: var(--beige-200);
  --bg-card: var(--beige-50);

  /* buttons */
  --bg-button-primay: var(--red-900);
  --bg-button-secondary: var(--beige-200);
  --text-color-button-primay: var(--beige-100);
  --text-color-button-secondary: var(--beige-700);
  --bg-checkbox: var(--beige-50);
  --text-color-checkbox: var(--blue-700);

  /* banner */
  --bg-banner-deluxe: var(--red-600);
  --text-color-banner-deluxe: var(--beige-50);
  --bg-banner-nyproduceret: var(--beige-500);
  --text-color-banner-nyproduceret: var(--beige-50);

  /* Text */
  --text-color-endtime: var(--red-600);
  --text-color-brand: var(--greyscale-500);
  --text-color-primary: var(--greyscale-900);
  --text-color-secondary: var(--greyscale-400);

  /* border style */
  --border-thin: solid 0.75px;
  --border-regular: solid 1px;
  --border-thick: solid 2px;
  --border-double: solid double 1px;

  /* border radius */
  --radius-top-round: 7px 7px 0px 0px;
  --radius-side-round: 10px 0px 0px 10px;
  --border-radius-default: 3px;

  /* Border Radius  | alias */
  --card-border-radius-gallery: var(--radius-top-round);
  --card-border-radius-list: var(--radius-side-round);
  --button-corners: var(--border-radius-default);

  /* shadow */
  --shadow-drop-primary: 0px 1px 20px rgba(0, 0, 0, 0.1);
  --shadow-drop-secondary: 0px 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-inner: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Shadow | alias */
  --card-shadow: var(--shadow-drop-primary);
  --banner-shadow: var(--shadow-drop-secondary);
  --button-shadow: var(--shadow-drop-secondary);
  --button-shadow-active: var(--shadow-inner);

  /* media query */
  --media-query-max-width-mobile: 600px;
  --media-query-max-width-tablet: 1024px;

  /* font family */
  --font-family-body: "Poppins", Helvetica, sans-serif;
  --font-family-headings: "Libre Baskerville", serif;

  /* Global font size */
  --step--2: clamp(0.5rem, calc(0.65rem + -0.21vw), 0.61rem);
  --step--1: clamp(0.71rem, calc(0.74rem + -0.04vw), 0.73rem);
  --step-0: clamp(0.88rem, calc(0.83rem + 0.24vw), 1rem);
  --step-1: clamp(1.05rem, calc(0.91rem + 0.71vw), 1.41rem);
  --step-2: clamp(1.26rem, calc(0.97rem + 1.44vw), 2rem);
  --step-3: clamp(1.51rem, calc(1rem + 2.57vw), 2.83rem);
  --step-4: clamp(1.81rem, calc(0.96rem + 4.26vw), 4rem);
  --step-5: clamp(2.18rem, calc(0.82rem + 6.78vw), 5.65rem);

  /* font size   */
  --font-size-3xl: var(--step-5);
  --font-size-2xl: var(--step-4);
  --font-size-xl: var(--step-3);
  --font-size-lg: var(--step-2);
  --font-size-md: var(--step-1);
  --font-size-sm: var(--step-0);
  --font-size-xs: var(--step--1);
  --font-size-2xs: var(--step--2);

  /* font-weight | gobal */
  --font-weight-thin: 100;
  --font-weight-exlight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-exbold: 800;
  --font-weight-black: 900;

  /* letter spacing */
  --letter-spacing-dense: -1px;
  --letter-spacing-double: 2px;

  /* line height */
  --line-height-heading: 1.25;
  --line-height-reset: 1;
  --line-height-text: 1.5;

  /* space */
  --space-3xs: clamp(0.25rem, calc(0.2rem + 0.24vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.4rem + 0.49vw), 0.75rem);
  --space-xs: clamp(0.75rem, calc(0.6rem + 0.73vw), 1.13rem);
  --space-s: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
  --space-m: clamp(1.5rem, calc(1.21rem + 1.46vw), 2.25rem);
  --space-l: clamp(2rem, calc(1.61rem + 1.95vw), 3rem);
  --space-xl: clamp(3rem, calc(2.41rem + 2.93vw), 4.5rem);
  --space-2xl: clamp(4rem, calc(3.22rem + 3.9vw), 6rem);
  --space-3xl: clamp(6rem, calc(4.83rem + 5.85vw), 9rem);

  /* Spacing | alias */
  --button-space-x-: var(--space-2xs);
  --button-space-y: var(--space-3xl);
}
