<button>afgiv bud</button>

<style>
  button {
    background-color: var(--bg-button-primay);
    color: var(--text-color-button-primay);
    border: none;
    border-radius: var(--button-corners);
    padding: var(--space-xs) 0;
    text-transform: uppercase;
  }
</style>
