<button>afgiv bud</button>

<style>
  button {
    background-color: var(--bg-button-primay);
    color: var(--text-color-button-primay);
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-medium);
    text-transform: uppercase;
    border: none;
    box-shadow: var(--button-shadow);
    border-radius: var(--button-corners);
    padding: var(--space-xs) 0;
  }
</style>
