---
import "../style/gobal.css";
---



<label for="">
    <input type="checkbox" name="deluxe" id="" class="checkbox">
</label>
<style>
    .checkbox {
        background-color: var(--bg-checkbox);
        color: var( --text-color-checkbox);

    }
    .checkbox:checked {
        
    }
</style>
