---
import "../style/global.css";
const { variant} = Astro.props;
---


<form data-variant={variant}  >

    <div>
      <label class="container">
        
              
      
         
      <input type="checkbox"> 
        <span class="checkmark"></span>
      </label>
    </div>
  </form>
<style>
    .container {
        accent-color: var( --text-color-checkbox);
    }
   

[data-variant="bigmark"] input {
   width: 20px;
   height: 20px;
}
</style>
